In [1]:
from prepatingDataComOutliers import preparing_data # read data
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from math import sqrt # RMSE
from sklearn.metrics import mean_squared_error # error metric
from sklearn.model_selection import cross_val_score, cross_val_predict
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold # import KFold
import numpy as np
# model
from sklearn.ensemble import GradientBoostingRegressor

C:\Users\gabri\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [15]:
X,y= preparing_data()
X

        Year  Mileage  Make  Model
0       2014    35725     1   1194
1       2013    19606     1   1193
2       2013    48851     1   1194
3       2014    39922     1   1193
4       2016    22142     1   1196
5       2012   105246     1   2249
6       2014    34032     1   2252
7       2013    32384     1   2248
8       2013    57596     1   1194
9       2013    63887     1   1193
10      2012    58550     1   2249
11      2013    40527     1   1193
12      2009    91980     1   2247
13      2015    13797     1   1193
14      2013    35035     1   2248
15      2014    23454     1   1193
16      2015    23603     1   1193
17      2010    19250     1   2247
18      2011    68289     1   2247
19      2007    60552     1   2247
20      2015    23946     1   1193
21      2014    27171     1   2248
22      2014    35037     1   1193
23      2013    38343     1   2248
24      2014    17669     1   1193
25      2014    37483     1   2252
26      2010    25926     1   2247
27      2014    30214     1   1193
28      2015    30881     1   1193
29      2015    15390     1   1193
...      ...      ...   ...    ...
852092  2017    12727    56   2034
852093  2016    25659    56   2564
852094  2016    16578    56   2564
852095  2017     3335    56   2404
852096  2017    12684    56   2571
852097  2017        9    56   2569
852098  2016    13041    56   2564
852099  2016    19250    56   2564
852100  2017       25    56   2570
852101  2017     1322    56   2034
852102  2017     9631    56   2034
852103  2017     2126    56   2034
852104  2017    10913    56   2034
852105  2017     2773    56   2570
852106  2017     7887    56   2404
852107  2017     2201    56   2034
852108  2017        8    56   2391
852109  2017     4559    56   2404
852110  2016    15070    56   2556
852111  2017        8    56   2391
852112  2017       10    56   2391
852113  2017     4304    56   2571
852114  2017     7530    56   2034
852115  2017       10    56   2571
852116  2017     2474    56   2034
852117  2017        9    56   2034
852118  2017     3201    56   2570
852119  2016    28941    56   2564
852120  2017     3005    56   2404
852121  2017     2502    56   2571

[852122 rows x 4 columns]

In [3]:
X_scaled = preprocessing.scale(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [4]:
def rmse(model, y, x):
    return sqrt(mean_squared_error(y, model.predict(x)))

In [5]:
est = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=1, random_state=0, loss='ls')
est.fit(X_train, y_train)
predictions = est.predict(X_test)

In [5]:
y_test[152094:152144].tolist()

[33395,
 9494,
 11750,
 16900,
 19990,
 71994,
 32000,
 18800,
 11477,
 29136,
 15337,
 47994,
 25499,
 15497,
 43994,
 19797,
 16378,
 24723,
 28991,
 11430,
 23657,
 11995,
 7902,
 10995,
 39725,
 35995,
 3100,
 12985,
 18995,
 5995,
 15997,
 32222,
 13975,
 23201,
 16495,
 18758,
 6688,
 18500,
 10988,
 6500,
 26750,
 29750,
 25995,
 7999,
 31795,
 7485,
 9795,
 12594,
 4980,
 21877]

In [6]:
predictions[152094:152144].tolist()

[28378.434872468544,
 18572.898386202924,
 17230.688047586606,
 26358.833074428898,
 24635.13354896175,
 31082.599828637576,
 27717.541421889608,
 31516.00437345375,
 10199.244303182015,
 24225.313315133582,
 27863.016655079104,
 24225.313315133582,
 21859.929605825953,
 22255.7434755642,
 25089.396152598463,
 22627.817192042723,
 20663.01388507883,
 28534.903181156722,
 25717.281979197596,
 11236.239626718627,
 23721.872224024286,
 13510.474227852545,
 9209.198600024933,
 29879.673450870006,
 14773.32416483392,
 25342.362767163868,
 9891.295730099153,
 18861.801460207735,
 19954.697919037353,
 10791.441041300139,
 13870.105951648236,
 32838.60045049876,
 22984.03245017094,
 28600.85642893245,
 20995.35903464958,
 28154.048828986994,
 10164.267488939171,
 17625.192899806476,
 20229.64411726826,
 7611.555790738039,
 19433.50778668833,
 26473.535722476416,
 20343.907388708223,
 12716.797318134926,
 20931.298882677664,
 10738.024138310651,
 20922.26196161707,
 21220.45775205617,
 10400.590811299819,
 25089.396152598463]

In [7]:
rmse(est, y_train, X_train)

11584.00748061608

In [8]:
rmse(est, y_test, X_test)

11688.932143813

In [9]:
kf = KFold(n_splits=10) # Define the split - into 5 folds 
kf.get_n_splits(X_scaled) # returns the number of splitting iterations in the cross-validator
KFold(n_splits=10, random_state=None, shuffle=False)
print(kf)

KFold(n_splits=10, random_state=None, shuffle=False)

In [10]:
list_rmse_train = []
list_rmse_test = []
scores_train = []
for train_index, test_index in kf.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    est = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=1, random_state=0, loss='ls')
    est.fit(X_train, y_train)
    list_rmse_train.append(rmse(est, y_train, X_train))
    list_rmse_test.append(rmse(est, y_test, X_test))

In [11]:
np.std(list_rmse_train)

379.3562943856887

In [12]:
np.std(list_rmse_test)

3291.0469558285317

In [13]:
np.mean(list_rmse_train)

11542.58073569089

In [14]:
np.mean(list_rmse_test)

11988.401336321673

In [16]:
plot(est)

NameError: name 'plot' is not defined