In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("teste.csv")

In [8]:
df.head()

   Price  Year  Mileage            City State Make    Model
0  39795  1999    93865    Indianapolis    IN   AM  General
1  45000  1998    79163          Dallas    TX   AM  General
2  46795  2000    64142     South River    NJ   AM  General
3  48900  2000    73204  Fredericksburg    VA   AM  General
4  49999  1998   118000          Newnan    GA   AM  General

In [9]:
df = df.drop(columns = "City")
df = df.drop(columns = "State")

In [10]:
df['Make'].fillna(df['Make'].mode()[0], inplace=True)
df['Model'].fillna(df['Model'].mode()[0], inplace=True)

In [11]:
df.head()

   Price  Year  Mileage Make    Model
0  39795  1999    93865   AM  General
1  45000  1998    79163   AM  General
2  46795  2000    64142   AM  General
3  48900  2000    73204   AM  General
4  49999  1998   118000   AM  General

In [12]:
from sklearn.preprocessing import LabelEncoder 
var_mod =['Price','Year','Mileage','Make','Model']
le = LabelEncoder()
for i in var_mod: df[i] = le.fit_transform(df[i])

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

In [16]:
def classification_model(model, data, predictors, outcome):
  #Acerta o modelo: 
  model.fit(data[predictors],data[outcome])

  #Faz previsões nos dados de treino: 
  predictions = model.predict(data[predictors])

  #Mostra a acurácia 
  accuracy = metrics.accuracy_score(predictions,data[outcome]) 
  print("Accuracy : %s" % "{0:.3%}".format(accuracy))

  #Performa validação cruzada k-fold com 5 folds 
  kf = KFold(data.shape[0], n_folds=5) 
  error = [] 
  for train, test in kf:
    # Filtra dados de treino 
    train_predictors = (data[predictors].iloc[train,:])

    # O alvo que estamos usando para treinar o algoritmo 
    train_target =  data[outcome].iloc[train]

    # Treinando o algoritmo com previsores e alvo     
    model.fit(train_predictors, train_target)

    #Grava erros de cada loop de validação cruzada      
    error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))

  print("Cross-Validation Score : %s" % "{0:.3%}".format(np.mean(error)))

  #Acerta de novo o modelo para que possa se referir fora da função
  model.fit(data[predictors],data[outcome])

In [ ]:
outcome_var = 'Price'
model = LogisticRegression()
predictor_var = ['Year']
classification_model(model, df,predictor_var,outcome_var)

Accuracy : 1.117%