In [4]:
from tranf import preparing_data # read data
X = preparing_data()

In [16]:
X

        Price  Year  Mileage  Make  Model
0        8995  2014    35725     1   1194
1       10888  2013    19606     1   1193
2        8995  2013    48851     1   1194
3       10999  2014    39922     1   1193
4       14799  2016    22142     1   1196
5        7989  2012   105246     1   2249
6       14490  2014    34032     1   2252
7       13995  2013    32384     1   2248
8       10495  2013    57596     1   1194
9        9995  2013    63887     1   1193
10      12921  2012    58550     1   2249
11      12000  2013    40527     1   1193
12       7750  2009    91980     1   2247
13      17628  2015    13797     1   1193
14      13999  2013    35035     1   2248
15      14995  2014    23454     1   1193
16      14990  2015    23603     1   1193
17      14590  2010    19250     1   2247
18       9500  2011    68289     1   2247
19       7990  2007    60552     1   2247
20      16994  2015    23946     1   1193
21      15499  2014    27171     1   2248
22      13499  2014    35037     1   1193
23      13999  2013    38343     1   2248
24      14999  2014    17669     1   1193
25      15995  2014    37483     1   2252
26      14500  2010    25926     1   2247
27      13995  2014    30214     1   1193
28      16000  2015    30881     1   1193
29      17419  2015    15390     1   1193
...       ...   ...      ...   ...    ...
852092  51995  2017    12727    56   2034
852093  55499  2016    25659    56   2564
852094  54995  2016    16578    56   2564
852095  67739  2017     3335    56   2404
852096  64905  2017    12684    56   2571
852097  62255  2017        9    56   2569
852098  56995  2016    13041    56   2564
852099  56789  2016    19250    56   2564
852100  63529  2017       25    56   2570
852101  59175  2017     1322    56   2034
852102  54995  2017     9631    56   2034
852103  59260  2017     2126    56   2034
852104  54995  2017    10913    56   2034
852105  59970  2017     2773    56   2570
852106  59990  2017     7887    56   2404
852107  61990  2017     2201    56   2034
852108  45280  2017        8    56   2391
852109  61498  2017     4559    56   2404
852110  57222  2016    15070    56   2556
852111  46500  2017        8    56   2391
852112  46530  2017       10    56   2391
852113  63995  2017     4304    56   2571
852114  53855  2017     7530    56   2034
852115  80895  2017       10    56   2571
852116  54995  2017     2474    56   2034
852117  63215  2017        9    56   2034
852118  72260  2017     3201    56   2570
852119  55999  2016    28941    56   2564
852120  60240  2017     3005    56   2404
852121  76995  2017     2502    56   2571

[852122 rows x 5 columns]

In [3]:
X.to_csv('toNumericInicio.csv', index=False)