In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("true_car_listings.csv")

In [3]:
df.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [4]:
df.isnull().sum()

Price      0
Year       0
Mileage    0
City       0
State      0
Vin        0
Make       0
Model      0
dtype: int64

In [5]:
df.dtypes

Price       int64
Year        int64
Mileage     int64
City       object
State      object
Vin        object
Make       object
Model      object
dtype: object

In [6]:
df.describe()

               Price           Year       Mileage
count  852122.000000  852122.000000  8.521220e+05
mean    21464.100210    2013.289145  5.250779e+04
std     13596.202241       3.414987  4.198896e+04
min      1500.000000    1997.000000  5.000000e+00
25%     13000.000000    2012.000000  2.383600e+04
50%     18500.000000    2014.000000  4.025600e+04
75%     26995.000000    2016.000000  7.218600e+04
max    499500.000000    2018.000000  2.856196e+06

In [7]:
outlier_price = ( df.quantile(0.75)["Price"] - df.quantile(0.25)["Price"] ) * 1.5
outlier_mileage = ( df.quantile(0.75)["Mileage"] - df.quantile(0.25)["Mileage"] ) * 1.5

In [8]:
outlier_price

20992.5

In [9]:
outlier_mileage

72525.0

In [99]:
df2 = df.drop(df[(df.Price > df.quantile(0.75)["Price"] + outlier_price)|(df.Price <  df.quantile(0.25)["Price"]- outlier_price)].index)
df2

In [ ]:
df3 = df.drop(df[(df.Price > df.quantile(0.75)["Mileage"] + outlier_mileage)|(df.Price <  df.quantile(0.25)["Mileage"]- outlier_mileage)].index)
df3

In [ ]:
df = df.sort_values(['Make', 'Model',"Price"])
df

In [ ]:
"df2.to_csv('Data_frame_SemOutliers.csv', index=False)"

In [105]:
"df.to_csv('Data_frame_ordenado.csv', index=False)"

In [108]:
def3 = df.drop(df[(df.Price < df.quantile(0.75)["Price"] + def_outlier)|(df.Price >  df.quantile(0.25)["Price"]- def_outlier)].index)
res

Empty DataFrame
Columns: [Price, Year, Mileage, City, State, Vin, Make, Model]
Index: []

In [90]:
res2 = df2.loc[df2['Price'] < df2.quantile(0.25)["Price"] - x].groupby('Model')

In [92]:
res.to_csv('res.csv', index=False)

AttributeError: Cannot access callable attribute 'to_csv' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [ ]:
res2.to_csv('res2.csv', index=False)

In [81]:
df2 = df2.drop(df2[df2["Vin"] == df.Vin])

ValueError: Can only compare identically-labeled Series objects

In [55]:
df2 = df2.drop(df2[(df2.Price > df2.quantile(0.75)["Price"] + x)|(df2.Price <  df2.quantile(0.25)["Price"]- x)].index)